
body {

    /** Body Background **/
    background-image: url("../img/woodBoardBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#appHeader {
    padding: 2rem 12rem;

}

/* .app_title {
    grid-area: header;
    width: 50%;
    height: auto;
    align-items: center;
    align-self: auto;
    padding-top: 55px;
    margin-bottom: 10px;
} */


#notes_form {
    position: relative;
    background-image: url(../img/FormBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: auto;
    width: fit-content;
    margin: auto;
    padding-bottom: 74px;
}